@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb{
    width: 10px;
    background: #535252;
    border-radius: 50px;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #dadada;
}


.cont::-webkit-scrollbar{
       display:none;
}



